In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
import os
import requests
import time
from pathlib import Path
from scipy import stats

In [2]:
# Set path to csv
home_values = Path("..\Resources\cleaned_home_values.csv")
monthly_rent_cost = Path("..\Resources\cleaned_rent_cost.csv")

# Reading into dataframes
home_values_df = pd.read_csv(home_values)
rent_cost_df = pd.read_csv(monthly_rent_cost)

In [3]:
# home_values_df.set_index('Date', inplace=True)
home_values_df.head()

,Date,"New York, NY","Los Angeles, CA","Chicago, IL","Dallas, TX","Houston, TX","Washington, DC","Philadelphia, PA","Miami, FL","Atlanta, GA",...,"Helena, AR","Spencer, IA","Atchison, KS","Fairfield, IA","Sweetwater, TX","Zapata, TX","Ketchikan, AK","Craig, CO","Vernon, TX","Lamesa, TX"
0,2015-01-31,404171.5878,513958.2964,191213.5856,172921.0387,174429.2710,371339.4203,202454.3216,209432.0875,167916.9208,...,46394.09635,108748.0060,72661.74894,111158.5424,93675.89371,100668.8718,255155.9638,151088.0637,64786.76642,65550.97273
1,2015-02-28,404367.8380,515749.3789,191520.7446,174428.1166,176102.5099,372051.2334,202904.1903,211138.2512,168796.2280,...,45799.75314,109802.6414,72975.01407,111861.9530,94422.70054,100913.8233,256713.2678,151688.4571,64526.92522,65859.05492
2,2015-03-31,404832.0151,516131.2150,192050.9421,175918.6479,177750.8996,372930.4566,203415.9047,212695.3180,169713.7945,...,45649.45496,111039.5894,73487.92106,112231.5322,95275.96317,100863.2065,257936.1849,152391.2066,64317.33294,66311.33982
3,2015-04-30,405433.0387,516280.3920,192570.5118,177289.4804,179226.1953,373417.5969,203907.7575,214274.7371,170737.8647,...,45990.95439,111977.4806,73917.52550,112830.7233,96407.96016,101236.8235,259322.8323,153189.1511,64330.33953,66790.14400
4,2015-05-31,406635.1014,516921.4710,193432.5615,178724.2699,180628.5009,373588.1045,204498.8401,216005.1963,171866.8530,...,46591.73331,112916.7833,74548.72440,112940.7075,97887.04331,101982.7193,260963.3452,153807.7973,64688.41192,67140.75242

In [4]:
home_values_df.dtypes

Date                object
New York, NY       float64
Los Angeles, CA    float64
Chicago, IL        float64
Dallas, TX         float64
                    ...
Zapata, TX         float64
Ketchikan, AK      float64
Craig, CO          float64
Vernon, TX         float64
Lamesa, TX         float64
Length: 844, dtype: object

In [5]:
# total dates in home values
total_dates = len(home_values_df)
total_dates

110

In [6]:
# total cities in home values
total_cities = home_values_df.columns.unique()
total_cities

Index(['Date', 'New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Dallas, TX',
       'Houston, TX', 'Washington, DC', 'Philadelphia, PA', 'Miami, FL',
       'Atlanta, GA',
       ...
       'Helena, AR', 'Spencer, IA', 'Atchison, KS', 'Fairfield, IA',
       'Sweetwater, TX', 'Zapata, TX', 'Ketchikan, AK', 'Craig, CO',
       'Vernon, TX', 'Lamesa, TX'],
      dtype='object', length=844)

In [7]:
# count total cities
len(total_cities)

844

In [8]:
# create a cities list
cities_list = total_cities.tolist()
cities_list.remove('Date')
len(cities_list)

843

In [9]:
# creating a dataframe for home values stats
home_values_summary = pd.DataFrame(home_values_df.describe())
home_values_summary

,"New York, NY","Los Angeles, CA","Chicago, IL","Dallas, TX","Houston, TX","Washington, DC","Philadelphia, PA","Miami, FL","Atlanta, GA","Boston, MA",...,"Helena, AR","Spencer, IA","Atchison, KS","Fairfield, IA","Sweetwater, TX","Zapata, TX","Ketchikan, AK","Craig, CO","Vernon, TX","Lamesa, TX"
count,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,...,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000
mean,504641.396244,693217.750049,240657.905135,269426.633632,232776.567883,446517.100105,258500.446585,315934.470704,257497.144946,500563.475512,...,51553.914902,137592.627812,106394.398734,137720.557563,106256.690384,114954.466691,321526.269618,193033.627989,75570.895681,79969.418607
std,70485.721880,139384.356598,34296.246509,65332.384556,42903.643058,61082.904297,45653.107405,80569.278794,69462.401915,87458.866693,...,3502.190489,20721.139959,25982.332385,20034.985449,6778.529457,11019.548385,44862.381329,41430.789399,10606.657728,8914.169779
min,404171.587800,504210.952000,191213.585600,172921.038700,174429.271000,371339.420300,202454.321600,209432.087500,167916.920800,369722.266300,...,43735.442370,108748.006000,72661.748940,111158.542400,93675.893710,100668.871800,255155.963800,151088.063700,63957.723690,65550.972730
25%,446514.781450,579028.854925,214757.168825,221007.933200,199511.291275,395457.985350,220416.478825,255424.019925,200230.248750,430759.676500,...,49232.751482,122081.517225,85312.108453,121473.518625,100809.510100,105859.799275,278504.122275,158475.635975,64982.334600,73009.112457
50%,490761.581050,666517.852600,232004.877700,251006.127450,217387.828050,424983.579450,241674.339150,288880.064650,236766.375250,477442.015450,...,52358.794875,130139.362100,95342.355890,130185.697900,105350.757500,111669.194250,317210.862250,176976.007600,72906.124550,76993.720015
75%,567591.121900,824774.455375,269349.633350,322567.543750,267929.582550,505839.601975,295974.754825,366699.680325,316832.618800,574956.626675,...,53772.276700,154073.928525,129886.958450,155149.219825,111654.662550,124344.257875,366604.936175,221190.632775,84881.929497,88370.121742
max,634651.292300,938807.281200,305231.331100,382698.409400,307630.145600,549546.676800,347370.638600,477916.590800,376063.360400,664491.256600,...,58560.700960,175048.228200,152461.372700,174917.838500,118673.798100,135409.433400,391224.607600,276980.991400,95048.698780,97240.152490

In [10]:
# Exporting to csv
home_values_summary.to_csv('..\Output\hv_stats.csv', index=False)

In [11]:
# finding the percent change between months in the home_values dataset for each city
home_values_set = home_values_df.set_index('Date')
home_values_numeric = home_values_set.apply(pd.to_numeric, errors = 'coerce')
home_values_pct_changes = pd.DataFrame(home_values_numeric.pct_change())
home_values_pct_changes

,"New York, NY","Los Angeles, CA","Chicago, IL","Dallas, TX","Houston, TX","Washington, DC","Philadelphia, PA","Miami, FL","Atlanta, GA","Boston, MA",...,"Helena, AR","Spencer, IA","Atchison, KS","Fairfield, IA","Sweetwater, TX","Zapata, TX","Ketchikan, AK","Craig, CO","Vernon, TX","Lamesa, TX"
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,0.000486,0.003485,0.001606,0.008715,0.009593,0.001917,0.002222,0.008147,0.005237,0.007087,...,-0.012811,0.009698,0.004311,0.006328,0.007972,0.002433,0.006103,0.003974,-0.004011,0.004700
2015-03-31,0.001148,0.000740,0.002768,0.008545,0.009360,0.002363,0.002522,0.007375,0.005436,0.006550,...,-0.003282,0.011265,0.007029,0.003304,0.009037,-0.000502,0.004764,0.004633,-0.003248,0.006867
2015-04-30,0.001485,0.000289,0.002705,0.007792,0.008300,0.001306,0.002418,0.007426,0.006034,0.004920,...,0.007481,0.008446,0.005846,0.005339,0.011881,0.003704,0.005376,0.005236,0.000202,0.007221
2015-05-31,0.002965,0.001242,0.004477,0.008093,0.007824,0.000457,0.002899,0.008076,0.006612,0.004142,...,0.013063,0.008388,0.008539,0.000975,0.015342,0.007368,0.006326,0.004038,0.005566,0.005249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-31,0.003751,0.012700,0.004445,0.000308,0.000084,0.002088,0.004902,0.006093,0.003381,0.007018,...,-0.004751,0.003554,0.006773,-0.002188,-0.008182,-0.012951,-0.008691,0.004386,-0.011602,-0.011435
2023-11-30,0.003682,0.009438,0.002966,-0.000373,-0.000936,0.001204,0.003934,0.006138,0.002522,0.005212,...,-0.003429,0.002208,0.004541,-0.000221,-0.009943,-0.017784,-0.007284,0.002567,-0.016290,-0.009186
2023-12-31,0.004384,0.005871,0.002052,-0.000878,-0.001359,0.001026,0.003373,0.005648,0.001791,0.004139,...,-0.010993,0.001476,0.002107,0.002020,-0.017549,-0.016797,-0.006488,-0.000171,-0.014734,-0.014961
2024-01-31,0.004556,0.000167,0.002130,0.000058,-0.000020,0.000770,0.003438,0.004991,0.001452,0.002965,...,-0.013514,-0.000992,0.002979,0.003028,-0.018896,-0.014170,-0.000596,-0.002688,-0.008058,-0.008268
2024-02-29,0.006349,-0.003203,0.004460,0.001296,0.001239,0.002635,0.004410,0.004031,0.002456,0.004004,...,-0.009652,-0.001649,0.005078,0.007361,-0.013343,-0.006842,0.000312,-0.000242,0.000554,-0.012515

In [12]:
# Exporting to csv
home_values_pct_changes.to_csv('..\Output\hv_pct_changes.csv', index=False)

In [13]:
# stats from pct_changes
hv_pct_changes_stats = pd.DataFrame(home_values_pct_changes.describe())
hv_pct_changes_stats

,"New York, NY","Los Angeles, CA","Chicago, IL","Dallas, TX","Houston, TX","Washington, DC","Philadelphia, PA","Miami, FL","Atlanta, GA","Boston, MA",...,"Helena, AR","Spencer, IA","Atchison, KS","Fairfield, IA","Sweetwater, TX","Zapata, TX","Ketchikan, AK","Craig, CO","Vernon, TX","Lamesa, TX"
count,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,...,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000
mean,0.004154,0.005551,0.004309,0.007070,0.005093,0.003612,0.004974,0.007613,0.007442,0.005405,...,-0.000467,0.004361,0.006626,0.003860,0.000750,0.000682,0.003547,0.005558,0.002523,0.001218
std,0.003381,0.008743,0.004253,0.006816,0.005306,0.004253,0.004244,0.005542,0.006045,0.004888,...,0.012200,0.004128,0.007528,0.005756,0.007408,0.009494,0.004444,0.004758,0.009063,0.010477
min,-0.004174,-0.012533,-0.005639,-0.006777,-0.005776,-0.008468,-0.003259,-0.001488,-0.004616,-0.008552,...,-0.030621,-0.003688,-0.018109,-0.013380,-0.024001,-0.033539,-0.008691,-0.002895,-0.027258,-0.022358
25%,0.002271,-0.000561,0.001606,0.002221,0.002117,0.001204,0.002536,0.004585,0.004202,0.002965,...,-0.007814,0.001654,0.002796,0.000458,-0.002659,-0.004028,0.000624,0.001799,-0.003248,-0.006272
50%,0.003820,0.005922,0.004020,0.007718,0.003740,0.002887,0.003840,0.006534,0.006510,0.005238,...,0.000049,0.003636,0.005910,0.003496,0.001824,0.001833,0.003914,0.004885,0.002732,0.002854
75%,0.005759,0.011984,0.005974,0.010044,0.007335,0.004885,0.005312,0.008461,0.008262,0.007231,...,0.008259,0.006657,0.011402,0.006919,0.005350,0.007349,0.006262,0.008160,0.007406,0.009776
max,0.012118,0.024769,0.016814,0.027335,0.021178,0.015382,0.017196,0.027003,0.024669,0.019766,...,0.027622,0.015229,0.021170,0.023668,0.018238,0.019858,0.014390,0.019557,0.028641,0.020204

In [14]:
# Exporting to csv
hv_pct_changes_stats.to_csv('..\Output\hv_pct_changes_stats.csv', index=False)

In [15]:
#finding the dates with the max and min values
max_dates = {}
for city in cities_list:
    max_value_date = home_values_pct_changes[city].idxmax()
    max_dates[city] = max_value_date

max_dates
# max_dates_df = pd.DataFrame(max_dates, index=['Max Date'])
# max_dates_df

{'New York, NY': '2020-12-31',
 'Los Angeles, CA': '2017-03-31',
 'Chicago, IL': '2022-03-31',
 'Dallas, TX': '2022-03-31',
 'Houston, TX': '2022-03-31',
 'Washington, DC': '2022-03-31',
 'Philadelphia, PA': '2022-03-31',
 'Miami, FL': '2022-04-30',
 'Atlanta, GA': '2022-03-31',
 'Boston, MA': '2022-03-31',
 'Phoenix, AZ': '2021-06-30',
 'San Francisco, CA': '2022-03-31',
 'Riverside, CA': '2021-06-30',
 'Detroit, MI': '2022-03-31',
 'Seattle, WA': '2022-03-31',
 'Minneapolis, MN': '2021-05-31',
 'San Diego, CA': '2022-03-31',
 'Tampa, FL': '2022-04-30',
 'Denver, CO': '2022-03-31',
 'Baltimore, MD': '2021-04-30',
 'St. Louis, MO': '2022-03-31',
 'Orlando, FL': '2022-04-30',
 'Charlotte, NC': '2022-04-30',
 'San Antonio, TX': '2022-03-31',
 'Portland, OR': '2022-03-31',
 'Sacramento, CA': '2021-05-31',
 'Pittsburgh, PA': '2022-03-31',
 'Cincinnati, OH': '2022-03-31',
 'Austin, TX': '2021-05-31',
 'Las Vegas, NV': '2022-04-30',
 'Kansas City, MO': '2022-03-31',
 'Columbus, OH': '2022-03-31',
 'Indianapolis, IN': '2022-03-31',
 'Cleveland, OH': '2022-03-31',
 'Nashville, TN': '2022-03-31',
 'Virginia Beach, VA': '2020-11-30',
 'Providence, RI': '2022-03-31',
 'Jacksonville, FL': '2022-03-31',
 'Milwaukee, WI': '2022-04-30',
 'Oklahoma City, OK': '2022-03-31',
 'Raleigh, NC': '2022-04-30',
 'Memphis, TN': '2022-03-31',
 'Richmond, VA': '2022-03-31',
 'Louisville, KY': '2020-11-30',
 'New Orleans, LA': '2021-06-30',
 'Salt Lake City, UT': '2021-05-31',
 'Hartford, CT': '2022-03-31',
 'Buffalo, NY': '2021-06-30',
 'Birmingham, AL': '2022-03-31',
 'Rochester, NY': '2022-04-30',
 'Grand Rapids, MI': '2022-03-31',
 'Tucson, AZ': '2021-07-31',
 'Urban Honolulu, HI': '2022-03-31',
 'Tulsa, OK': '2020-11-30',
 'Fresno, CA': '2022-03-31',
 'Worcester, MA': '2022-03-31',
 'Omaha, NE': '2022-03-31',
 'Bridgeport, CT': '2020-12-31',
 'Greenville, SC': '2022-03-31',
 'Albuquerque, NM': '2022-03-31',
 'Bakersfield, CA': '2022-04-30',
 'Albany, NY': '2021-06-30',
 'Knoxville, TN': '2022-04-30',
 'Baton Rouge, LA': '2022-01-31',
 'McAllen, TX': '2022-03-31',
 'New Haven, CT': '2022-03-31',
 'El Paso, TX': '2022-03-31',
 'Allentown, PA': '2022-03-31',
 'Oxnard, CA': '2022-03-31',
 'Columbia, SC': '2022-03-31',
 'North Port, FL': '2022-04-30',
 'Charleston, SC': '2022-03-31',
 'Greensboro, NC': '2022-04-30',
 'Stockton, CA': '2021-05-31',
 'Cape Coral, FL': '2022-04-30',
 'Boise City, ID': '2021-04-30',
 'Colorado Springs, CO': '2021-05-31',
 'Little Rock, AR': '2021-07-31',
 'Lakeland, FL': '2022-04-30',
 'Akron, OH': '2020-11-30',
 'Des Moines, IA': '2021-05-31',
 'Springfield, MA': '2022-03-31',
 'Ogden, UT': '2021-05-31',
 'Madison, WI': '2022-04-30',
 'Winston, NC': '2022-03-31',
 'Deltona, FL': '2022-04-30',
 'Syracuse, NY': '2021-06-30',
 'Provo, UT': '2021-06-30',
 'Toledo, OH': '2022-03-31',
 'Wichita, KS': '2022-03-31',
 'Augusta, GA': '2022-03-31',
 'Palm Bay, FL': '2022-04-30',
 'Jackson, MS': '2021-05-31',
 'Harrisburg, PA': '2022-03-31',
 'Spokane, WA': '2021-04-30',
 'Scranton, PA': '2020-11-30',
 'Chattanooga, TN': '2021-07-31',
 'Modesto, CA': '2022-03-31',
 'Lancaster, PA': '2022-03-31',
 'Portland, ME': '2022-04-30',
 'Youngstown, OH': '2020-11-30',
 'Lansing, MI': '2022-03-31',
 'Fayetteville, AR': '2022-04-30',
 'Fayetteville, NC': '2022-03-31',
 'Lexington, KY': '2022-04-30',
 'Pensacola, FL': '2022-04-30',
 'Santa Rosa, CA': '2022-03-31',
 'Reno, NV': '2021-05-31',
 'Huntsville, AL': '2021-06-30',
 'Port St. Lucie, FL': '2022-03-31',
 'Lafayette, LA': '2020-09-30',
 'Myrtle Beach, SC': '2022-05-31',
 'Springfield, MO': '2022-03-31',
 'Visalia, CA': '2020-11-30',
 'Killeen, TX': '2021-07-31',
 'Asheville, NC': '2022-03-31',
 'Vallejo, CA': '2022-03-31',
 'Santa Maria, CA': '2022-03-31',
 'Salinas, CA': '2022-03-31',
 'Salem, OR': '2021-02-28',
 'Mobile, AL': '2021-07-31',
 'Reading, PA': '2022-03-31',
 'Corpus Christi, TX': '2021-04-30',
 'Brownsville, TX': '2021-06-30',
 'Manchester, NH': '2022-03-31',
 'Fort Wayne, IN': '2022-03-31',
 'Gulfport, MS': '2021-11-30',
 'Salisbury, MD': '2021-06-30',
 'Flint, MI': '2021-03-31',
 'Peoria, IL': '2022-04-30',
 'Canton, OH': '2021-06-30',
 'Savannah, GA': '2022-03-31',
 'Beaumont, TX': '2020-09-30',
 'Shreveport, LA': '2020-09-30',
 'Trenton, NJ': '2021-06-30',
 'Montgomery, AL': '2021-07-31',
 'Davenport, IA': '2022-03-31',
 'Tallahassee, FL': '2022-04-30',
 'Eugene, OR': '2021-04-30',
 'Naples, FL': '2022-04-30',
 'Ann Arbor, MI': '2022-04-30',
 'Ocala, FL': '2022-03-31',
 'Hickory, NC': '2022-03-31',
 'Huntington, WV': '2020-11-30',
 'Fort Collins, CO': '2022-04-30',
 'Rockford, IL': '2022-03-31',
 'Lincoln, NE': '2022-03-31',
 'Gainesville, FL': '2022-03-31',
 'Boulder, CO': '2022-03-31',
 'Green Bay, WI': '2021-06-30',
 'Columbus, GA': '2022-02-28',
 'South Bend, IN': '2022-03-31',
 'Spartanburg, SC': '2022-03-31',
 'Greeley, CO': '2022-04-30',
 'Lubbock, TX': '2022-03-31',
 'Clarksville, TN': '2021-07-31',
 'Roanoke, VA': '2022-04-30',
 'Evansville, IN': '2021-06-30',
 'Kingsport, TN': '2019-03-31',
 'Kennewick, WA': '2022-03-31',
 'Utica, NY': '2022-03-31',
 'Hagerstown, MD': '2022-03-31',
 'Duluth, MN': '2021-06-30',
 'Olympia, WA': '2021-04-30',
 'Longview, TX': '2021-07-31',
 'Wilmington, NC': '2022-04-30',
 'San Luis Obispo, CA': '2022-03-31',
 'Crestview, FL': '2021-06-30',
 'Merced, CA': '2022-03-31',
 'Waco, TX': '2022-03-31',
 'Cedar Rapids, IA': '2022-05-31',
 'Atlantic City, NJ': '2020-12-31',
 'Bremerton, WA': '2022-03-31',
 'Sioux Falls, SD': '2022-03-31',
 'Santa Cruz, CA': '2022-03-31',
 'Erie, PA': '2022-03-31',
 'Norwich, CT': '2020-12-31',
 'Amarillo, TX': '2021-06-30',
 'Laredo, TX': '2021-01-31',
 'Tuscaloosa, AL': '2021-06-30',
 'College Station, TX': '2021-07-31',
 'Kalamazoo, MI': '2021-06-30',
 'Lynchburg, VA': '2022-06-30',
 'Charleston, WV': '2020-11-30',
 'Yakima, WA': '2021-05-31',
 'Fargo, ND': '2015-06-30',
 'Binghamton, NY': '2021-06-30',
 'Fort Smith, AR': '2021-06-30',
 'Appleton, WI': '2021-06-30',
 'Topeka, KS': '2020-09-30',
 'Macon, GA': '2022-03-31',
 'Tyler, TX': '2021-07-31',
 'Barnstable Town, MA': '2021-06-30',
 'Daphne, AL': '2021-06-30',
 'Bellingham, WA': '2022-03-31',
 'Burlington, VT': '2022-04-30',
 'Rochester, MN': '2022-03-31',
 'Lafayette, IN': '2021-06-30',
 'Champaign, IL': '2021-07-31',
 'Medford, OR': '2021-04-30',
 'Charlottesville, VA': '2022-03-31',
 'Las Cruces, NM': '2022-03-31',
 'Chico, CA': '2019-03-31',
 'Hilton Head Island, SC': '2021-06-30',
 'Athens, GA': '2022-02-28',
 'Lake Havasu City, AZ': '2021-05-31',
 'Columbia, MO': '2021-06-30',
 'Springfield, IL': '2020-09-30',
 'Houma, LA': '2020-09-30',
 'Monroe, LA': '2022-03-31',
 'Elkhart, IN': '2022-03-31',
 'Johnson City, TN': '2021-07-31',
 'Yuma, AZ': '2022-03-31',
 'Gainesville, GA': '2022-03-31',
 'Jacksonville, NC': '2022-03-31',
 'Florence, SC': '2019-03-31',
 'St. Cloud, MN': '2021-06-30',
 'Racine, WI': '2021-05-31',
 'Bend, OR': '2021-05-31',
 'Saginaw, MI': '2022-03-31',
 'Warner Robins, GA': '2022-03-31',
 'Terre Haute, IN': '2020-11-30',
 'Torrington, CT': '2020-12-31',
 'Punta Gorda, FL': '2021-07-31',
 'Billings, MT': '2021-06-30',
 'Redding, CA': '2020-11-30',
 'Kingston, NY': '2020-11-30',
 'Panama City, FL': '2022-03-31',
 'Joplin, MO': '2022-03-31',
 'Dover, DE': '2022-03-31',
 'El Centro, CA': '2021-07-31',
 'Jackson, TN': '2021-07-31',
 'Yuba City, CA': '2020-11-30',
 'Bowling Green, KY': '2022-03-31',
 'St. George, UT': '2021-05-31',
 'Muskegon, MI': '2022-03-31',
 'Abilene, TX': '2020-09-30',
 'Iowa City, IA': '2022-05-31',
 'Auburn, AL': '2021-07-31',
 'Midland, TX': '2018-07-31',
 'Bloomington, IL': '2022-04-30',
 'Hattiesburg, MS': '2021-06-30',
 'Oshkosh, WI': '2021-06-30',
 'Eau Claire, WI': '2021-06-30',
 'Greenville, NC': '2022-04-30',
 'Waterloo, IA': '2022-03-31',
 "Coeur d'Alene, ID": '2021-05-31',
 'East Stroudsburg, PA': '2022-03-31',
 'Pueblo, CO': '2021-06-30',
 'Blacksburg, VA': '2021-06-30',
 'Wausau, WI': '2021-07-31',
 'Kahului, HI': '2022-03-31',
 'Janesville, WI': '2021-06-30',
 'Tupelo, MS': '2021-07-31',
 'Bloomington, IN': '2022-03-31',
 'Odessa, TX': '2019-04-30',
 'Jackson, MI': '2021-04-30',
 'State College, PA': '2022-03-31',
 'Sebastian, FL': '2022-04-30',
 'Madera, CA': '2020-11-30',
 'Decatur, AL': '2021-04-30',
 'Chambersburg, PA': '2020-11-30',
 'Vineland, NJ': '2021-02-28',
 'Idaho Falls, ID': '2021-05-31',
 'Grand Junction, CO': '2021-06-30',
 'Elizabethtown, KY': '2020-10-31',
 'Niles, MI': '2022-03-31',
 'Monroe, MI': '2022-03-31',
 'Santa Fe, NM': '2022-04-30',
 'Concord, NH': '2022-04-30',
 'Alexandria, LA': '2020-09-30',
 'Traverse City, MI': '2021-06-30',
 'Bangor, ME': '2020-11-30',
 'Homosassa Springs, FL': '2021-06-30',
 'Hanford, CA': '2020-11-30',
 'Jefferson City, MO': '2022-03-31',
 'Florence, AL': '2021-06-30',
 'Dothan, AL': '2022-06-30',
 'London, KY': '2022-03-31',
 'Albany, GA': '2022-02-28',
 'Sioux City, IA': '2020-09-30',
 'Wichita Falls, TX': '2022-03-31',
 'Texarkana, TX': '2020-09-30',
 'Valdosta, GA': '2021-07-31',
 'Logan, UT': '2021-05-31',
 'Flagstaff, AZ': '2021-06-30',
 'Rocky Mount, NC': '2022-03-31',
 'Pottsville, PA': '2020-11-30',
 'Dalton, GA': '2021-06-30',
 'Lebanon, PA': '2022-03-31',
 'Morristown, TN': '2021-07-31',
 'Winchester, VA': '2022-03-31',
 'Wheeling, WV': '2022-03-31',
 'Morgantown, WV': '2020-11-30',
 'La Crosse, WI': '2021-06-30',
 'Napa, CA': '2022-03-31',
 'Rapid City, SD': '2022-03-31',
 'Sumter, SC': '2019-04-30',
 'Eureka, CA': '2021-07-31',
 'Springfield, OH': '2020-11-30',
 'Harrisonburg, VA': '2020-11-30',
 'Battle Creek, MI': '2021-06-30',
 'Sherman, TX': '2022-03-31',
 'Manhattan, KS': '2021-05-31',
 'Carbondale, IL': '2019-05-31',
 'Johnstown, PA': '2019-04-30',
 'Jonesboro, AR': '2021-07-31',
 'Bismarck, ND': '2021-06-30',
 'Hammond, LA': '2022-03-31',
 'Pittsfield, MA': '2022-03-31',
 'Mount Vernon, WA': '2021-05-31',
 'Jamestown, NY': '2020-11-30',
 'Albany, OR': '2021-01-31',
 'Glens Falls, NY': '2020-11-30',
 'Lawton, OK': '2020-12-31',
 'Cleveland, TN': '2021-07-31',
 'Sierra Vista, AZ': '2021-07-31',
 'Ames, IA': '2021-06-30',
 'Mansfield, OH': '2020-11-30',
 'Staunton, VA': '2022-03-31',
 'Augusta, ME': '2021-06-30',
 'Altoona, PA': '2017-04-30',
 'New Bern, NC': '2022-03-31',
 'Farmington, NM': '2022-03-31',
 'St. Joseph, MO': '2020-10-31',
 'San Angelo, TX': '2019-03-31',
 'Wenatchee, WA': '2021-06-30',
 'Owensboro, KY': '2020-10-31',
 'Holland, MI': '2020-11-30',
 'Lawrence, KS': '2021-06-30',
 'Goldsboro, NC': '2022-03-31',
 'Watertown, NY': '2022-06-30',
 'Sheboygan, WI': '2020-10-31',
 'Weirton, WV': '2020-11-30',
 'Missoula, MT': '2021-05-31',
 'Bozeman, MT': '2021-05-31',
 'Anniston, AL': '2020-10-31',
 'Beckley, WV': '2022-03-31',
 'Williamsport, PA': '2022-03-31',
 'Brunswick, GA': '2022-02-28',
 'California, MD': '2020-11-30',
 'Twin Falls, ID': '2021-05-31',
 'Cookeville, TN': '2021-07-31',
 'Muncie, IN': '2020-11-30',
 'Michigan City, IN': '2022-03-31',
 'Roseburg, OR': '2020-11-30',
 'Lewiston, ME': '2022-03-31',
 'Longview, WA': '2022-03-31',
 'Ogdensburg, NY': '2020-11-30',
 'Kankakee, IL': '2022-03-31',
 'Bluefield, WV': '2020-11-30',
 'Show Low, AZ': '2021-05-31',
 'Richmond, KY': '2022-03-31',
 'Tullahoma, TN': '2021-06-30',
 'Whitewater, WI': '2021-06-30',
 'Ithaca, NY': '2022-05-31',
 'Grand Forks, ND': '2015-08-31',
 'Decatur, IL': '2019-03-31',
 'LaGrange, GA': '2022-02-28',
 'Bay City, MI': '2019-04-30',
 'Fond du Lac, WI': '2021-06-30',
 'Gettysburg, PA': '2020-11-30',
 'Gadsden, AL': '2019-03-31',
 'Kalispell, MT': '2021-06-30',
 'Danville, VA': '2022-02-28',
 'Mankato, MN': '2021-06-30',
 'Lima, OH': '2020-11-30',
 'Salem, OH': '2022-03-31',
 'Truckee, CA': '2021-04-30',
 'Sebring, FL': '2021-07-31',
 'Cheyenne, WY': '2019-12-31',
 'Hot Springs, AR': '2021-07-31',
 'Adrian, MI': '2022-03-31',
 'Shelby, NC': '2020-10-31',
 'Dubuque, IA': '2022-05-31',
 'Meridian, MS': '2021-12-31',
 'Pinehurst, NC': '2022-05-31',
 'Paducah, KY': '2022-01-31',
 'Rome, GA': '2022-02-28',
 'Sevierville, TN': '2021-06-30',
 'Moses Lake, WA': '2021-05-31',
 'Ashtabula, OH': '2020-11-30',
 'Cape Girardeau, MO': '2022-03-31',
 'Albertville, AL': '2021-07-31',
 'Fairbanks, AK': '2019-03-31',
 'Brainerd, MN': '2021-06-30',
 'Cumberland, MD': '2020-11-30',
 'Ocean City, NJ': '2021-05-31',
 'Corvallis, OR': '2022-03-31',
 'Pocatello, ID': '2021-07-31',
 'Corning, NY': '2022-03-31',
 'New Philadelphia, OH': '2020-11-30',
 'Sunbury, PA': '2020-09-30',
 'Ukiah, CA': '2020-09-30',
 'Hermiston, OR': '2021-06-30',
 'Clarksburg, WV': '2021-03-31',
 'Parkersburg, WV': '2020-11-30',
 'Beaver Dam, WI': '2021-06-30',
 'Pine Bluff, AR': '2020-09-30',
 'Grants Pass, OR': '2021-02-28',
 'Cullman, AL': '2021-07-31',
 'Lufkin, TX': '2021-06-30',
 'Zanesville, OH': '2022-03-31',
 'New Castle, PA': '2022-03-31',
 'Oak Harbor, WA': '2021-05-31',
 'Orangeburg, SC': '2020-11-30',
 'Watertown, WI': '2020-10-31',
 'Meadville, PA': '2020-11-30',
 'Elmira, NY': '2020-11-30',
 'Great Falls, MT': '2022-03-31',
 'Laurel, MS': '2021-08-31',
 'Russellville, AR': '2021-06-30',
 'Indiana, PA': '2022-03-31',
 'Midland, MI': '2019-06-30',
 'Kokomo, IN': '2022-02-28',
 'Bloomsburg, PA': '2021-06-30',
 'Opelousas, LA': '2019-02-28',
 'Helena, MT': '2021-05-31',
 'Talladega, AL': '2021-06-30',
 'Stillwater, OK': '2020-11-30',
 'Columbus, IN': '2021-06-30',
 'Athens, TX': '2021-05-31',
 'Centralia, WA': '2021-04-30',
 'Manitowoc, WI': '2021-06-30',
 'Hinesville, GA': '2022-03-31',
 'DuBois, PA': '2021-03-31',
 'Warsaw, IN': '2022-03-31',
 'Plattsburgh, NY': '2022-03-31',
 'Statesboro, GA': '2022-02-28',
 'Casper, WY': '2022-06-30',
 'Wilson, NC': '2022-03-31',
 'Glenwood Springs, CO': '2021-05-31',
 'Minot, ND': '2023-01-31',
 'Olean, NY': '2022-03-31',
 'Chillicothe, OH': '2020-10-31',
 'Searcy, AR': '2021-06-30',
 'Grand Island, NE': '2022-03-31',
 'Port Angeles, WA': '2021-06-30',
 'Auburn, NY': '2020-11-30',
 'Huntsville, TX': '2021-12-31',
 'Keene, NH': '2022-03-31',
 'Heber, UT': '2022-04-30',
 'Quincy, IL': '2016-07-31',
 'Sandusky, OH': '2022-03-31',
 'Findlay, OH': '2022-03-31',
 'Frankfort, KY': '2020-11-30',
 'Danville, IL': '2020-10-31',
 'Aberdeen, WA': '2021-06-30',
 'Portsmouth, OH': '2020-09-30',
 'Somerset, PA': '2020-11-30',
 'Wisconsin Rapids, WI': '2021-06-30',
 'Jefferson, GA': '2022-02-28',
 'Kapaa, HI': '2022-03-31',
 'Palatka, FL': '2021-07-31',
 'Gallup, NM': '2020-10-31',
 'Hobbs, NM': '2019-06-30',
 'Shawnee, OK': '2021-06-30',
 'Mount Airy, NC': '2022-03-31',
 'Stevens Point, WI': '2021-06-30',
 'Greeneville, TN': '2019-03-31',
 'Greenwood, SC': '2020-10-31',
 'Lake City, FL': '2022-03-31',
 'Klamath Falls, OR': '2021-06-30',
 'Morehead City, NC': '2022-03-31',
 'Clearlake, CA': '2021-05-31',
 'Roanoke Rapids, NC': '2020-10-31',
 'Farmington, MO': '2022-03-31',
 'Muskogee, OK': '2021-03-31',
 'Marion, IN': '2021-01-31',
 'Faribault, MN': '2022-03-31',
 'Richmond, IN': '2021-06-30',
 'Marquette, MI': '2022-04-30',
 'North Wilkesboro, NC': '2022-03-31',
 'Mount Pleasant, MI': '2022-03-31',
 'Rio Grande City, TX': '2020-09-30',
 'Baraboo, WI': '2020-10-31',
 'Red Bluff, CA': '2020-11-30',
 'Marinette, WI': '2020-09-30',
 'Roswell, NM': '2019-05-31',
 'Shelton, WA': '2021-04-30',
 'Dublin, GA': '2020-10-31',
 'Nacogdoches, TX': '2021-07-31',
 'Somerset, KY': '2015-07-31',
 'Coos Bay, OR': '2021-04-30',
 'Forest City, NC': '2022-03-31',
 'Martinsville, VA': '2021-06-30',
 'Rexburg, ID': '2021-05-31',
 'Lewiston, ID': '2021-06-30',
 'Laconia, NH': '2022-03-31',
 'Georgetown, SC': '2022-05-31',
 'Athens, OH': '2020-10-31',
 'Sanford, NC': '2022-03-31',
 'Enid, OK': '2023-05-31',
 'Mount Vernon, OH': '2015-06-30',
 'Walla Walla, WA': '2022-03-31',
 'Hutchinson, KS': '2022-03-31',
 'Hudson, NY': '2020-11-30',
 'Starkville, MS': '2021-07-31',
 'Gillette, WY': '2021-04-30',
 'Sturgis, MI': '2022-03-31',
 'Rutland, VT': '2021-07-31',
 'Crossville, TN': '2021-07-31',
 'Sayre, PA': '2020-11-30',
 'Salina, KS': '2021-06-30',
 'Marietta, OH': '2022-03-31',
 'Fergus Falls, MN': '2021-06-30',
 'Barre, VT': '2021-06-30',
 'Fremont, OH': '2020-11-30',
 'Oneonta, NY': '2020-11-30',
 'Columbus, MS': '2021-11-30',
 'Norwalk, OH': '2020-11-30',
 'Batavia, NY': '2022-03-31',
 'Ardmore, OK': '2022-03-31',
 'Palestine, TX': '2020-09-30',
 'Fort Madison, IA': '2020-10-31',
 'Charleston, IL': '2019-03-31',
 'Fernley, NV': '2021-05-31',
 'Carson City, NV': '2021-05-31',
 'Eagle Pass, TX': '2023-06-30',
 'Calhoun, GA': '2022-02-28',
 'Cullowhee, NC': '2021-06-30',
 'Kearney, NE': '2022-01-31',
 'Fairmont, WV': '2021-01-31',
 'Ontario, OR': '2020-12-31',
 'Gaffney, SC': '2019-03-31',
 'Picayune, MS': '2015-08-31',
 'Sterling, IL': '2019-04-30',
 'Branson, MO': '2021-12-31',
 'Cedar City, UT': '2021-07-31',
 'Waycross, GA': '2020-09-30',
 'Oxford, MS': '2023-05-31',
 'Jasper, IN': '2022-03-31',
 'Edwards, CO': '2020-12-31',
 'Durango, CO': '2022-03-31',
 'Kinston, NC': '2022-03-31',
 'Tiffin, OH': '2020-11-30',
 'Batesville, AR': '2021-12-31',
 'Point Pleasant, WV': '2020-11-30',
 'Elko, NV': '2021-04-30',
 'Danville, KY': '2020-11-30',
 'Glasgow, KY': '2020-10-31',
 'St. Marys, GA': '2022-03-31',
 'Warrensburg, MO': '2020-11-30',
 'Gloversville, NY': '2020-11-30',
 'Fort Leonard Wood, MO': '2021-04-30',
 'Poplar Bluff, MO': '2020-09-30',
 'Elizabeth City, NC': '2022-03-31',
 'Payson, AZ': '2021-06-30',
 'Athens, TN': '2019-03-31',
 'Enterprise, AL': '2021-06-30',
 'Ashland, OH': '2020-11-30',
 'Scottsboro, AL': '2020-10-31',
 'Milledgeville, GA': '2020-10-31',
 'Kerrville, TX': '2021-06-30',
 'Bartlesville, OK': '2021-08-31',
 'Platteville, WI': '2021-06-30',
 'Corsicana, TX': '2021-04-30',
 'Greenville, OH': '2020-12-31',
 'Rochelle, IL': '2017-04-30',
 'Douglas, GA': '2021-06-30',
 'Oil City, PA': '2020-11-30',
 'Mason City, IA': '2022-05-31',
 'Jacksonville, TX': '2022-06-30',
 'Galesburg, IL': '2019-03-31',
 'Pahrump, NV': '2021-07-31',
 'Paris, TX': '2021-07-31',
 'Winona, MN': '2022-04-30',
 'Newport, OR': '2021-03-31',
 'Shelbyville, TN': '2022-02-28',
 'Amsterdam, NY': '2020-11-30',
 'Ozark, AL': '2020-08-31',
 'Alice, TX': '2020-09-30',
 'Gardnerville Ranchos, NV': '2021-02-28',
 'Fort Polk South, LA': '2020-09-30',
 'Natchez, MS': '2021-07-31',
 'New Castle, IN': '2022-03-31',
 'Norfolk, NE': '2022-04-30',
 'Ruston, LA': '2020-11-30',
 'Sidney, OH': '2022-03-31',
 'Pullman, WA': '2021-07-31',
 'Malone, NY': '2022-03-31',
 'Del Rio, TX': '2019-10-31',
 'Blackfoot, ID': '2021-06-30',
 'Red Wing, MN': '2022-04-30',
 'Nogales, AZ': '2021-06-30',
 'Tahlequah, OK': '2022-03-31',
 'Kendallville, IN': '2022-03-31',
 'Montrose, CO': '2021-06-30',
 'Cortland, NY': '2020-11-30',
 'Mount Sterling, KY': '2022-03-31',
 'Clinton, IA': '2022-02-28',
 'Bardstown, KY': '2022-03-31',
 'Wapakoneta, OH': '2022-03-31',
 'Plymouth, IN': '2021-07-31',
 'Lewistown, PA': '2022-03-31',
 'Bemidji, MN': '2021-07-31',
 'Bellefontaine, OH': '2019-12-31',
 'Seymour, IN': '2022-03-31',
 'Burley, ID': '2021-06-30',
 'Durant, OK': '2022-03-31',
 'Moultrie, GA': '2020-10-31',
 'Bogalusa, LA': '2020-09-30',
 'Cornelia, GA': '2022-03-31',
 'Hillsdale, MI': '2020-12-31',
 'Thomasville, GA': '2021-12-31',
 'Paragould, AR': '2021-03-31',
 'Burlington, IA': '2022-03-31',
 'Madisonville, KY': '2020-09-30',
 'Menomonie, WI': '2021-06-30',
 'Shawano, WI': '2021-06-30',
 'Vicksburg, MS': '2021-04-30',
 'Bedford, IN': '2022-03-31',
 'Washington, NC': '2022-03-31',
 'Freeport, IL': '2020-10-31',
 'Harrison, AR': '2022-01-31',
 'Coldwater, MI': '2019-04-30',
 'Huntingdon, PA': '2020-11-30',
 'Ellensburg, WA': '2022-03-31',
 'Ponca City, OK': '2021-03-31',
 'Lawrenceburg, TN': '2022-02-28',
 'McAlester, OK': '2020-01-31',
 'Mount Pleasant, TX': '2021-12-31',
 'Willmar, MN': '2021-07-31',
 'Rockingham, NC': '2020-04-30',
 'Muscatine, IA': '2020-11-30',
 'Lewisburg, PA': '2022-03-31',
 'Auburn, IN': '2022-03-31',
 'Duncan, OK': '2021-08-31',
 'Sedalia, MO': '2022-03-31',
 'Cedartown, GA': '2022-02-28',

In [ ]:
# mean_pct_changes = home_values_pct_changes.mean()

# # Get the 10 cities with the highest mean percent changes
# top_cities = mean_pct_changes.nlargest(10)

# # Print the result
# print(top_cities)

In [16]:
min_dates = {}
for city in cities_list:
    min_value_date = home_values_pct_changes[city].idxmin()
    min_dates[city] = min_value_date

min_dates

{'New York, NY': '2022-10-31',
 'Los Angeles, CA': '2023-02-28',
 'Chicago, IL': '2022-09-30',
 'Dallas, TX': '2023-01-31',
 'Houston, TX': '2023-01-31',
 'Washington, DC': '2022-09-30',
 'Philadelphia, PA': '2022-09-30',
 'Miami, FL': '2020-06-30',
 'Atlanta, GA': '2023-01-31',
 'Boston, MA': '2022-09-30',
 'Phoenix, AZ': '2022-11-30',
 'San Francisco, CA': '2022-09-30',
 'Riverside, CA': '2016-11-30',
 'Detroit, MI': '2022-09-30',
 'Seattle, WA': '2022-09-30',
 'Minneapolis, MN': '2022-09-30',
 'San Diego, CA': '2022-09-30',
 'Tampa, FL': '2023-01-31',
 'Denver, CO': '2022-09-30',
 'Baltimore, MD': '2022-09-30',
 'St. Louis, MO': '2022-09-30',
 'Orlando, FL': '2023-01-31',
 'Charlotte, NC': '2023-01-31',
 'San Antonio, TX': '2023-12-31',
 'Portland, OR': '2022-09-30',
 'Sacramento, CA': '2022-09-30',
 'Pittsburgh, PA': '2022-09-30',
 'Cincinnati, OH': '2022-09-30',
 'Austin, TX': '2022-09-30',
 'Las Vegas, NV': '2022-11-30',
 'Kansas City, MO': '2022-09-30',
 'Columbus, OH': '2023-01-31',
 'Indianapolis, IN': '2022-09-30',
 'Cleveland, OH': '2021-09-30',
 'Nashville, TN': '2022-11-30',
 'Virginia Beach, VA': '2022-09-30',
 'Providence, RI': '2022-09-30',
 'Jacksonville, FL': '2023-02-28',
 'Milwaukee, WI': '2021-10-31',
 'Oklahoma City, OK': '2015-12-31',
 'Raleigh, NC': '2022-10-31',
 'Memphis, TN': '2023-01-31',
 'Richmond, VA': '2022-10-31',
 'Louisville, KY': '2017-12-31',
 'New Orleans, LA': '2023-09-30',
 'Salt Lake City, UT': '2022-09-30',
 'Hartford, CT': '2021-09-30',
 'Buffalo, NY': '2022-10-31',
 'Birmingham, AL': '2023-01-31',
 'Rochester, NY': '2021-10-31',
 'Grand Rapids, MI': '2022-09-30',
 'Tucson, AZ': '2023-01-31',
 'Urban Honolulu, HI': '2023-02-28',
 'Tulsa, OK': '2015-12-31',
 'Fresno, CA': '2023-01-31',
 'Worcester, MA': '2022-09-30',
 'Omaha, NE': '2022-09-30',
 'Bridgeport, CT': '2022-09-30',
 'Greenville, SC': '2023-02-28',
 'Albuquerque, NM': '2022-10-31',
 'Bakersfield, CA': '2023-01-31',
 'Albany, NY': '2023-01-31',
 'Knoxville, TN': '2022-10-31',
 'Baton Rouge, LA': '2017-03-31',
 'McAllen, TX': '2019-02-28',
 'New Haven, CT': '2021-10-31',
 'El Paso, TX': '2017-09-30',
 'Allentown, PA': '2022-09-30',
 'Oxnard, CA': '2022-09-30',
 'Columbia, SC': '2023-02-28',
 'North Port, FL': '2022-10-31',
 'Charleston, SC': '2023-01-31',
 'Greensboro, NC': '2023-01-31',
 'Stockton, CA': '2022-10-31',
 'Cape Coral, FL': '2023-01-31',
 'Boise City, ID': '2022-10-31',
 'Colorado Springs, CO': '2022-09-30',
 'Little Rock, AR': '2023-01-31',
 'Lakeland, FL': '2023-01-31',
 'Akron, OH': '2023-01-31',
 'Des Moines, IA': '2022-09-30',
 'Springfield, MA': '2022-10-31',
 'Ogden, UT': '2022-09-30',
 'Madison, WI': '2022-09-30',
 'Winston, NC': '2023-01-31',
 'Deltona, FL': '2023-01-31',
 'Syracuse, NY': '2021-10-31',
 'Provo, UT': '2022-09-30',
 'Toledo, OH': '2023-01-31',
 'Wichita, KS': '2023-12-31',
 'Augusta, GA': '2023-02-28',
 'Palm Bay, FL': '2023-01-31',
 'Jackson, MS': '2023-11-30',
 'Harrisburg, PA': '2021-09-30',
 'Spokane, WA': '2022-09-30',
 'Scranton, PA': '2015-02-28',
 'Chattanooga, TN': '2022-11-30',
 'Modesto, CA': '2022-10-31',
 'Lancaster, PA': '2022-09-30',
 'Portland, ME': '2022-09-30',
 'Youngstown, OH': '2017-05-31',
 'Lansing, MI': '2021-09-30',
 'Fayetteville, AR': '2022-09-30',
 'Fayetteville, NC': '2016-07-31',
 'Lexington, KY': '2022-09-30',
 'Pensacola, FL': '2023-01-31',
 'Santa Rosa, CA': '2022-09-30',
 'Reno, NV': '2022-09-30',
 'Huntsville, AL': '2022-11-30',
 'Port St. Lucie, FL': '2023-02-28',
 'Lafayette, LA': '2020-12-31',
 'Myrtle Beach, SC': '2023-01-31',
 'Springfield, MO': '2022-10-31',
 'Visalia, CA': '2023-01-31',
 'Killeen, TX': '2023-02-28',
 'Asheville, NC': '2023-01-31',
 'Vallejo, CA': '2022-09-30',
 'Santa Maria, CA': '2022-09-30',
 'Salinas, CA': '2022-09-30',
 'Salem, OR': '2022-09-30',
 'Mobile, AL': '2023-09-30',
 'Reading, PA': '2021-09-30',
 'Corpus Christi, TX': '2023-02-28',
 'Brownsville, TX': '2019-03-31',
 'Manchester, NH': '2021-10-31',
 'Fort Wayne, IN': '2022-09-30',
 'Gulfport, MS': '2023-01-31',
 'Salisbury, MD': '2022-09-30',
 'Flint, MI': '2022-09-30',
 'Peoria, IL': '2023-01-31',
 'Canton, OH': '2023-01-31',
 'Savannah, GA': '2016-03-31',
 'Beaumont, TX': '2023-09-30',
 'Shreveport, LA': '2021-09-30',
 'Trenton, NJ': '2022-09-30',
 'Montgomery, AL': '2023-02-28',
 'Davenport, IA': '2023-01-31',
 'Tallahassee, FL': '2022-10-31',
 'Eugene, OR': '2022-09-30',
 'Naples, FL': '2022-10-31',
 'Ann Arbor, MI': '2022-09-30',
 'Ocala, FL': '2023-01-31',
 'Hickory, NC': '2023-01-31',
 'Huntington, WV': '2021-09-30',
 'Fort Collins, CO': '2022-09-30',
 'Rockford, IL': '2015-02-28',
 'Lincoln, NE': '2022-09-30',
 'Gainesville, FL': '2023-01-31',
 'Boulder, CO': '2022-09-30',
 'Green Bay, WI': '2022-09-30',
 'Columbus, GA': '2015-12-31',
 'South Bend, IN': '2022-09-30',
 'Spartanburg, SC': '2023-02-28',
 'Greeley, CO': '2022-09-30',
 'Lubbock, TX': '2019-03-31',
 'Clarksville, TN': '2015-03-31',
 'Roanoke, VA': '2021-10-31',
 'Evansville, IN': '2022-09-30',
 'Kingsport, TN': '2015-03-31',
 'Kennewick, WA': '2022-09-30',
 'Utica, NY': '2023-01-31',
 'Hagerstown, MD': '2022-09-30',
 'Duluth, MN': '2022-09-30',
 'Olympia, WA': '2022-09-30',
 'Longview, TX': '2023-11-30',
 'Wilmington, NC': '2023-01-31',
 'San Luis Obispo, CA': '2022-09-30',
 'Crestview, FL': '2022-09-30',
 'Merced, CA': '2023-01-31',
 'Waco, TX': '2023-11-30',
 'Cedar Rapids, IA': '2024-01-31',
 'Atlantic City, NJ': '2016-10-31',
 'Bremerton, WA': '2022-09-30',
 'Sioux Falls, SD': '2022-09-30',
 'Santa Cruz, CA': '2022-09-30',
 'Erie, PA': '2015-02-28',
 'Norwich, CT': '2022-09-30',
 'Amarillo, TX': '2023-03-31',
 'Laredo, TX': '2023-12-31',
 'Tuscaloosa, AL': '2024-01-31',
 'College Station, TX': '2023-10-31',
 'Kalamazoo, MI': '2022-09-30',
 'Lynchburg, VA': '2015-02-28',
 'Charleston, WV': '2018-08-31',
 'Yakima, WA': '2022-09-30',
 'Fargo, ND': '2023-10-31',
 'Binghamton, NY': '2017-04-30',
 'Fort Smith, AR': '2023-09-30',
 'Appleton, WI': '2022-09-30',
 'Topeka, KS': '2016-07-31',
 'Macon, GA': '2023-01-31',
 'Tyler, TX': '2015-11-30',
 'Barnstable Town, MA': '2022-09-30',
 'Daphne, AL': '2023-10-31',
 'Bellingham, WA': '2022-09-30',
 'Burlington, VT': '2022-09-30',
 'Rochester, MN': '2022-09-30',
 'Lafayette, IN': '2022-09-30',
 'Champaign, IL': '2019-09-30',
 'Medford, OR': '2022-09-30',
 'Charlottesville, VA': '2022-09-30',
 'Las Cruces, NM': '2019-03-31',
 'Chico, CA': '2023-01-31',
 'Hilton Head Island, SC': '2020-06-30',
 'Athens, GA': '2022-09-30',
 'Lake Havasu City, AZ': '2023-01-31',
 'Columbia, MO': '2022-09-30',
 'Springfield, IL': '2015-02-28',
 'Houma, LA': '2022-09-30',
 'Monroe, LA': '2023-03-31',
 'Elkhart, IN': '2023-01-31',
 'Johnson City, TN': '2017-03-31',
 'Yuma, AZ': '2023-01-31',
 'Gainesville, GA': '2023-01-31',
 'Jacksonville, NC': '2016-02-29',
 'Florence, SC': '2023-01-31',
 'St. Cloud, MN': '2022-09-30',
 'Racine, WI': '2022-10-31',
 'Bend, OR': '2022-09-30',
 'Saginaw, MI': '2021-09-30',
 'Warner Robins, GA': '2015-02-28',
 'Terre Haute, IN': '2015-06-30',
 'Torrington, CT': '2021-10-31',
 'Punta Gorda, FL': '2023-01-31',
 'Billings, MT': '2016-09-30',
 'Redding, CA': '2023-01-31',
 'Kingston, NY': '2022-09-30',
 'Panama City, FL': '2019-03-31',
 'Joplin, MO': '2017-05-31',
 'Dover, DE': '2017-07-31',
 'El Centro, CA': '2022-10-31',
 'Jackson, TN': '2022-10-31',
 'Yuba City, CA': '2022-10-31',
 'Bowling Green, KY': '2023-02-28',
 'St. George, UT': '2022-09-30',
 'Muskegon, MI': '2023-01-31',
 'Abilene, TX': '2023-11-30',
 'Iowa City, IA': '2022-09-30',
 'Auburn, AL': '2022-09-30',
 'Midland, TX': '2016-05-31',
 'Bloomington, IL': '2015-03-31',
 'Hattiesburg, MS': '2018-08-31',
 'Oshkosh, WI': '2022-09-30',
 'Eau Claire, WI': '2022-09-30',
 'Greenville, NC': '2016-04-30',
 'Waterloo, IA': '2016-05-31',
 "Coeur d'Alene, ID": '2022-08-31',
 'East Stroudsburg, PA': '2022-09-30',
 'Pueblo, CO': '2022-12-31',
 'Blacksburg, VA': '2022-12-31',
 'Wausau, WI': '2022-09-30',
 'Kahului, HI': '2022-09-30',
 'Janesville, WI': '2022-09-30',
 'Tupelo, MS': '2023-02-28',
 'Bloomington, IN': '2022-09-30',
 'Odessa, TX': '2020-12-31',
 'Jackson, MI': '2022-09-30',
 'State College, PA': '2022-09-30',
 'Sebastian, FL': '2023-01-31',
 'Madera, CA': '2023-01-31',
 'Decatur, AL': '2022-11-30',
 'Chambersburg, PA': '2015-03-31',
 'Vineland, NJ': '2018-04-30',
 'Idaho Falls, ID': '2022-10-31',
 'Grand Junction, CO': '2022-09-30',
 'Elizabethtown, KY': '2015-11-30',
 'Niles, MI': '2022-09-30',
 'Monroe, MI': '2022-09-30',
 'Santa Fe, NM': '2018-05-31',
 'Concord, NH': '2021-10-31',
 'Alexandria, LA': '2023-09-30',
 'Traverse City, MI': '2020-06-30',
 'Bangor, ME': '2022-09-30',
 'Homosassa Springs, FL': '2023-01-31',
 'Hanford, CA': '2023-01-31',
 'Jefferson City, MO': '2019-09-30',
 'Florence, AL': '2017-06-30',
 'Dothan, AL': '2023-08-31',
 'London, KY': '2023-10-31',
 'Albany, GA': '2016-09-30',
 'Sioux City, IA': '2023-02-28',
 'Wichita Falls, TX': '2023-02-28',
 'Texarkana, TX': '2023-01-31',
 'Valdosta, GA': '2016-09-30',
 'Logan, UT': '2022-09-30',
 'Flagstaff, AZ': '2022-09-30',
 'Rocky Mount, NC': '2023-01-31',
 'Pottsville, PA': '2022-09-30',
 'Dalton, GA': '2023-01-31',
 'Lebanon, PA': '2015-02-28',
 'Morristown, TN': '2022-10-31',
 'Winchester, VA': '2022-09-30',
 'Wheeling, WV': '2021-09-30',
 'Morgantown, WV': '2021-09-30',
 'La Crosse, WI': '2022-09-30',
 'Napa, CA': '2022-09-30',
 'Rapid City, SD': '2022-09-30',
 'Sumter, SC': '2017-03-31',
 'Eureka, CA': '2022-09-30',
 'Springfield, OH': '2021-09-30',
 'Harrisonburg, VA': '2022-09-30',
 'Battle Creek, MI': '2018-06-30',
 'Sherman, TX': '2022-10-31',
 'Manhattan, KS': '2016-08-31',
 'Carbondale, IL': '2016-07-31',
 'Johnstown, PA': '2023-09-30',
 'Jonesboro, AR': '2023-08-31',
 'Bismarck, ND': '2016-08-31',
 'Hammond, LA': '2022-09-30',
 'Pittsfield, MA': '2022-10-31',
 'Mount Vernon, WA': '2022-09-30',
 'Jamestown, NY': '2022-11-30',
 'Albany, OR': '2022-09-30',
 'Glens Falls, NY': '2022-10-31',
 'Lawton, OK': '2020-05-31',
 'Cleveland, TN': '2022-10-31',
 'Sierra Vista, AZ': '2022-12-31',
 'Ames, IA': '2024-01-31',
 'Mansfield, OH': '2023-01-31',
 'Staunton, VA': '2023-02-28',
 'Augusta, ME': '2022-09-30',
 'Altoona, PA': '2018-01-31',
 'New Bern, NC': '2015-02-28',
 'Farmington, NM': '2016-01-31',
 'St. Joseph, MO': '2015-02-28',
 'San Angelo, TX': '2023-09-30',
 'Wenatchee, WA': '2022-09-30',
 'Owensboro, KY': '2016-10-31',
 'Holland, MI': '2022-09-30',
 'Lawrence, KS': '2022-10-31',
 'Goldsboro, NC': '2023-01-31',
 'Watertown, NY': '2015-11-30',
 'Sheboygan, WI': '2022-09-30',
 'Weirton, WV': '2021-09-30',
 'Missoula, MT': '2022-09-30',
 'Bozeman, MT': '2022-10-31',
 'Anniston, AL': '2015-02-28',
 'Beckley, WV': '2021-09-30',
 'Williamsport, PA': '2021-09-30',
 'Brunswick, GA': '2016-11-30',
 'California, MD': '2022-09-30',
 'Twin Falls, ID': '2023-01-31',
 'Cookeville, TN': '2022-09-30',
 'Muncie, IN': '2015-11-30',
 'Michigan City, IN': '2023-12-31',
 'Roseburg, OR': '2023-01-31',
 'Lewiston, ME': '2022-10-31',
 'Longview, WA': '2022-09-30',
 'Ogdensburg, NY': '2023-02-28',
 'Kankakee, IL': '2016-09-30',
 'Bluefield, WV': '2016-04-30',
 'Show Low, AZ': '2022-11-30',
 'Richmond, KY': '2018-10-31',
 'Tullahoma, TN': '2022-10-31',
 'Whitewater, WI': '2022-09-30',
 'Ithaca, NY': '2019-05-31',
 'Grand Forks, ND': '2023-12-31',
 'Decatur, IL': '2022-09-30',
 'LaGrange, GA': '2016-03-31',
 'Bay City, MI': '2022-09-30',
 'Fond du Lac, WI': '2022-09-30',
 'Gettysburg, PA': '2021-09-30',
 'Gadsden, AL': '2023-01-31',
 'Kalispell, MT': '2022-09-30',
 'Danville, VA': '2015-03-31',
 'Mankato, MN': '2022-09-30',
 'Lima, OH': '2021-09-30',
 'Salem, OH': '2021-09-30',
 'Truckee, CA': '2022-09-30',
 'Sebring, FL': '2023-02-28',
 'Cheyenne, WY': '2022-09-30',
 'Hot Springs, AR': '2022-09-30',
 'Adrian, MI': '2022-09-30',
 'Shelby, NC': '2023-12-31',
 'Dubuque, IA': '2023-10-31',
 'Meridian, MS': '2023-01-31',
 'Pinehurst, NC': '2022-09-30',
 'Paducah, KY': '2017-03-31',
 'Rome, GA': '2016-12-31',
 'Sevierville, TN': '2023-01-31',
 'Moses Lake, WA': '2023-01-31',
 'Ashtabula, OH': '2023-01-31',
 'Cape Girardeau, MO': '2023-02-28',
 'Albertville, AL': '2017-03-31',
 'Fairbanks, AK': '2023-01-31',
 'Brainerd, MN': '2024-01-31',
 'Cumberland, MD': '2022-09-30',
 'Ocean City, NJ': '2022-09-30',
 'Corvallis, OR': '2022-09-30',
 'Pocatello, ID': '2022-10-31',
 'Corning, NY': '2023-01-31',
 'New Philadelphia, OH': '2023-01-31',
 'Sunbury, PA': '2023-11-30',
 'Ukiah, CA': '2022-11-30',
 'Hermiston, OR': '2022-09-30',
 'Clarksburg, WV': '2021-09-30',
 'Parkersburg, WV': '2021-09-30',
 'Beaver Dam, WI': '2022-09-30',
 'Pine Bluff, AR': '2022-10-31',
 'Grants Pass, OR': '2022-09-30',
 'Cullman, AL': '2023-02-28',
 'Lufkin, TX': '2022-09-30',
 'Zanesville, OH': '2023-01-31',
 'New Castle, PA': '2023-02-28',
 'Oak Harbor, WA': '2022-09-30',
 'Orangeburg, SC': '2022-09-30',
 'Watertown, WI': '2022-12-31',
 'Meadville, PA': '2023-10-31',
 'Elmira, NY': '2017-04-30',
 'Great Falls, MT': '2022-09-30',
 'Laurel, MS': '2023-12-31',
 'Russellville, AR': '2023-10-31',
 'Indiana, PA': '2021-09-30',
 'Midland, MI': '2018-10-31',
 'Kokomo, IN': '2022-09-30',
 'Bloomsburg, PA': '2023-09-30',
 'Opelousas, LA': '2018-02-28',
 'Helena, MT': '2023-01-31',
 'Talladega, AL': '2015-03-31',
 'Stillwater, OK': '2023-02-28',
 'Columbus, IN': '2022-09-30',
 'Athens, TX': '2019-03-31',
 'Centralia, WA': '2022-09-30',
 'Manitowoc, WI': '2022-09-30',
 'Hinesville, GA': '2016-04-30',
 'DuBois, PA': '2023-09-30',
 'Warsaw, IN': '2022-09-30',
 'Plattsburgh, NY': '2023-01-31',
 'Statesboro, GA': '2019-06-30',
 'Casper, WY': '2016-08-31',
 'Wilson, NC': '2016-08-31',
 'Glenwood Springs, CO': '2022-09-30',
 'Minot, ND': '2018-06-30',
 'Olean, NY': '2023-01-31',
 'Chillicothe, OH': '2022-09-30',
 'Searcy, AR': '2017-05-31',
 'Grand Island, NE': '2022-09-30',
 'Port Angeles, WA': '2022-09-30',
 'Auburn, NY': '2023-01-31',
 'Huntsville, TX': '2023-01-31',
 'Keene, NH': '2021-10-31',
 'Heber, UT': '2022-09-30',
 'Quincy, IL': '2017-08-31',
 'Sandusky, OH': '2022-08-31',
 'Findlay, OH': '2021-09-30',
 'Frankfort, KY': '2018-12-31',
 'Danville, IL': '2020-06-30',
 'Aberdeen, WA': '2022-09-30',
 'Portsmouth, OH': '2023-02-28',
 'Somerset, PA': '2015-11-30',
 'Wisconsin Rapids, WI': '2021-01-31',
 'Jefferson, GA': '2022-10-31',
 'Kapaa, HI': '2022-09-30',
 'Palatka, FL': '2022-12-31',
 'Gallup, NM': '2016-07-31',
 'Hobbs, NM': '2021-09-30',
 'Shawnee, OK': '2019-02-28',
 'Mount Airy, NC': '2023-01-31',
 'Stevens Point, WI': '2023-07-31',
 'Greeneville, TN': '2022-10-31',
 'Greenwood, SC': '2017-03-31',
 'Lake City, FL': '2023-01-31',
 'Klamath Falls, OR': '2022-09-30',
 'Morehead City, NC': '2023-01-31',
 'Clearlake, CA': '2022-11-30',
 'Roanoke Rapids, NC': '2021-09-30',
 'Farmington, MO': '2017-03-31',
 'Muskogee, OK': '2016-09-30',
 'Marion, IN': '2023-01-31',
 'Faribault, MN': '2022-09-30',
 'Richmond, IN': '2015-02-28',
 'Marquette, MI': '2023-01-31',
 'North Wilkesboro, NC': '2021-09-30',
 'Mount Pleasant, MI': '2022-09-30',
 'Rio Grande City, TX': '2023-01-31',
 'Baraboo, WI': '2023-12-31',
 'Red Bluff, CA': '2023-02-28',
 'Marinette, WI': '2016-09-30',
 'Roswell, NM': '2023-07-31',
 'Shelton, WA': '2022-09-30',
 'Dublin, GA': '2023-10-31',
 'Nacogdoches, TX': '2018-08-31',
 'Somerset, KY': '2023-09-30',
 'Coos Bay, OR': '2022-09-30',
 'Forest City, NC': '2023-02-28',
 'Martinsville, VA': '2023-08-31',
 'Rexburg, ID': '2022-11-30',
 'Lewiston, ID': '2022-12-31',
 'Laconia, NH': '2022-09-30',
 'Georgetown, SC': '2023-01-31',
 'Athens, OH': '2023-09-30',
 'Sanford, NC': '2015-04-30',
 'Enid, OK': '2023-01-31',
 'Mount Vernon, OH': '2022-09-30',
 'Walla Walla, WA': '2022-09-30',
 'Hutchinson, KS': '2017-10-31',
 'Hudson, NY': '2022-10-31',
 'Starkville, MS': '2023-02-28',
 'Gillette, WY': '2017-08-31',
 'Sturgis, MI': '2023-01-31',
 'Rutland, VT': '2019-03-31',
 'Crossville, TN': '2022-09-30',
 'Sayre, PA': '2021-09-30',
 'Salina, KS': '2024-01-31',
 'Marietta, OH': '2023-02-28',
 'Fergus Falls, MN': '2022-11-30',
 'Barre, VT': '2022-09-30',
 'Fremont, OH': '2015-02-28',
 'Oneonta, NY': '2021-09-30',
 'Columbus, MS': '2022-12-31',
 'Norwalk, OH': '2018-02-28',
 'Batavia, NY': '2023-02-28',
 'Ardmore, OK': '2015-12-31',
 'Palestine, TX': '2024-01-31',
 'Fort Madison, IA': '2018-08-31',
 'Charleston, IL': '2015-02-28',
 'Fernley, NV': '2023-01-31',
 'Carson City, NV': '2022-09-30',
 'Eagle Pass, TX': '2019-03-31',
 'Calhoun, GA': '2023-01-31',
 'Cullowhee, NC': '2023-01-31',
 'Kearney, NE': '2020-03-31',
 'Fairmont, WV': '2021-09-30',
 'Ontario, OR': '2022-10-31',
 'Gaffney, SC': '2023-10-31',
 'Picayune, MS': '2016-02-29',
 'Sterling, IL': '2018-12-31',
 'Branson, MO': '2023-12-31',
 'Cedar City, UT': '2022-11-30',
 'Waycross, GA': '2015-03-31',
 'Oxford, MS': '2019-01-31',
 'Jasper, IN': '2022-09-30',
 'Edwards, CO': '2022-09-30',
 'Durango, CO': '2022-09-30',
 'Kinston, NC': '2015-02-28',
 'Tiffin, OH': '2023-01-31',
 'Batesville, AR': '2024-01-31',
 'Point Pleasant, WV': '2021-09-30',
 'Elko, NV': '2023-01-31',
 'Danville, KY': '2019-09-30',
 'Glasgow, KY': '2022-10-31',
 'St. Marys, GA': '2016-03-31',
 'Warrensburg, MO': '2022-09-30',
 'Gloversville, NY': '2023-01-31',
 'Fort Leonard Wood, MO': '2016-04-30',
 'Poplar Bluff, MO': '2015-11-30',
 'Elizabeth City, NC': '2023-01-31',
 'Payson, AZ': '2022-11-30',
 'Athens, TN': '2023-01-31',
 'Enterprise, AL': '2015-02-28',
 'Ashland, OH': '2023-02-28',
 'Scottsboro, AL': '2022-11-30',
 'Milledgeville, GA': '2016-10-31',
 'Kerrville, TX': '2023-02-28',
 'Bartlesville, OK': '2017-01-31',
 'Platteville, WI': '2023-12-31',
 'Corsicana, TX': '2023-12-31',
 'Greenville, OH': '2016-08-31',
 'Rochelle, IL': '2015-03-31',
 'Douglas, GA': '2023-01-31',
 'Oil City, PA': '2023-08-31',
 'Mason City, IA': '2023-02-28',
 'Jacksonville, TX': '2017-05-31',
 'Galesburg, IL': '2023-02-28',
 'Pahrump, NV': '2022-12-31',
 'Paris, TX': '2019-03-31',
 'Winona, MN': '2022-10-31',
 'Newport, OR': '2022-09-30',
 'Shelbyville, TN': '2022-11-30',
 'Amsterdam, NY': '2023-01-31',
 'Ozark, AL': '2016-12-31',
 'Alice, TX': '2021-07-31',
 'Gardnerville Ranchos, NV': '2022-09-30',
 'Fort Polk South, LA': '2018-02-28',
 'Natchez, MS': '2022-12-31',
 'New Castle, IN': '2022-12-31',
 'Norfolk, NE': '2022-09-30',
 'Ruston, LA': '2022-11-30',
 'Sidney, OH': '2023-01-31',
 'Pullman, WA': '2023-01-31',
 'Malone, NY': '2021-09-30',
 'Del Rio, TX': '2023-01-31',
 'Blackfoot, ID': '2022-12-31',
 'Red Wing, MN': '2022-09-30',
 'Nogales, AZ': '2022-11-30',
 'Tahlequah, OK': '2019-03-31',
 'Kendallville, IN': '2022-09-30',
 'Montrose, CO': '2023-01-31',
 'Cortland, NY': '2018-12-31',
 'Mount Sterling, KY': '2017-02-28',
 'Clinton, IA': '2016-05-31',
 'Bardstown, KY': '2016-03-31',
 'Wapakoneta, OH': '2023-01-31',
 'Plymouth, IN': '2017-02-28',
 'Lewistown, PA': '2021-09-30',
 'Bemidji, MN': '2022-09-30',
 'Bellefontaine, OH': '2023-01-31',
 'Seymour, IN': '2022-10-31',
 'Burley, ID': '2022-10-31',
 'Durant, OK': '2015-07-31',
 'Moultrie, GA': '2022-11-30',
 'Bogalusa, LA': '2022-10-31',
 'Cornelia, GA': '2023-01-31',
 'Hillsdale, MI': '2022-10-31',
 'Thomasville, GA': '2016-08-31',
 'Paragould, AR': '2022-12-31',
 'Burlington, IA': '2021-07-31',
 'Madisonville, KY': '2023-08-31',
 'Menomonie, WI': '2023-12-31',
 'Shawano, WI': '2022-09-30',
 'Vicksburg, MS': '2022-11-30',
 'Bedford, IN': '2022-09-30',
 'Washington, NC': '2021-09-30',
 'Freeport, IL': '2017-05-31',
 'Harrison, AR': '2022-12-31',
 'Coldwater, MI': '2019-09-30',
 'Huntingdon, PA': '2023-02-28',
 'Ellensburg, WA': '2023-01-31',
 'Ponca City, OK': '2017-03-31',
 'Lawrenceburg, TN': '2022-09-30',
 'McAlester, OK': '2017-01-31',
 'Mount Pleasant, TX': '2022-09-30',
 'Willmar, MN': '2022-10-31',
 'Rockingham, NC': '2024-02-29',
 'Muscatine, IA': '2016-08-31',
 'Lewisburg, PA': '2015-12-31',
 'Auburn, IN': '2022-09-30',
 'Duncan, OK': '2016-12-31',
 'Sedalia, MO': '2017-01-31',
 'Cedartown, GA': '2023-02-28',